@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Plus Jakarta Sans';
    src: url(assets/font/PlusJakartaSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .landing-village-card-container {
    background: linear-gradient(to top, #0001, #000), url('/image_asset/foto_desa.jpg');
    background-position: center;
    background-size: cover;
  }
  .news-text,
  .news-text {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  /* Navbar menu styles */
  .custom-menu .ant-menu-item,
  .custom-menu .ant-menu-submenu-title {
    transition: color 0.3s ease;
  }

  .custom-menu.menu-top .ant-menu-item,
  .custom-menu.menu-top .ant-menu-submenu-title {
    color: white !important;
  }

  .custom-menu.menu-scrolled .ant-menu-item,
  .custom-menu.menu-scrolled .ant-menu-submenu-title {
    color: #4980c1 !important;
  }
}
